<!DOCTYPE html>
<html>
  <head>
  </head>
<body>
  <div class="jumbotron bg_img">
    <div class="container">
      <h1 class="display-3">Create your event..</h1>
    </div>
  </div>

<div class="container">
<div class="card border-0 shadow my-5">
<div class="card-body p-5">
    

<%= form_tag url_for(:action => "create", method: 'post') do %> 

  <div class="form-row">

    <div class="form-group col-md-8">
      <%= label_tag "Title" %><br />
      <%= text_field_tag 'title',"", {class: 'form-control'}%>
    </div>

    <div class="form-group col-md-4">
      <%= label_tag "Date" %> <br />
      <%= text_field_tag 'start_date',"", {class: 'form-control'}%>
    </div>

  </div>

  <div class="form-group">
    <%= label_tag "Description" %> <br />
    <%= text_area_tag 'description',"", {class: 'form-control'}%>
  </div>

  <div class="form-row">

    <div class="form-group col-md-4">
      <%= label_tag "Location" %> <br />
      <select <%= text_field_tag 'location',"", {class: 'form-control'}%>>
        <option selected>Paris</option>
        <option>New York</option>
        <option>Beijing</option>
        <option>Rio</option>
        <option>Bali</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <%= label_tag "Duration (')"%> <br />
      <select <%= text_field_tag 'duration',"", {class: 'form-control'}%>>
        <option selected>5</option>
        <option>15</option>
        <option>30</option>
        <option>45</option>
        <option>60</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <%= label_tag "Price ($)"%> <br />
      <select <%= text_field_tag 'price',"", {class: 'form-control'}%>>
        <option selected>5</option>
        <option>50</option>
        <option>100</option>
        <option>150</option>
        <option>200</option>
      </select>
    </div>

  </div>

  <br>
  <div class="actions">
    <%= submit_tag "Post Event", {class: 'btn btn-primary'} %>
  </div>
  

</div>
</div>
</div>




<% end %>


</body>